
.post {
  margin-bottom: 20px;
  max-width: 100%;
  overflow: auto;
}

.post-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.post-meta {
  font-size: 12px;
  color: #666;
}

.post-content {
  font-size: 16px;
  line-height: 1.75;
}

.post-content p {
  margin-top: 8px;
  margin-bottom: 16px;
}

.post-content pre, .post-content code{
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  # border: 1px dashed #666;
  background-color:  #e3e3e3;
  overflow: auto;
  padding: 1px 4px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
}

.post-content .blockcode {
  overflow: auto;
}

.post-content img {
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
