
.post {
  margin-bottom: 0.2rem;
  max-width: 100%;
  overflow: auto;
}

.post-title {
  font-weight: bold;
  margin-bottom: 0.08rem;
}

.post-meta {
  font-size: 0.12rem;
  color: #666;
}

.post-content {
  font-size: 0.16rem;
  line-height: 1.75;
}

.post-content p {
  margin-top: 0.08rem;
  margin-bottom: 0.16rem;
}

.post-content pre, .post-content code{
  display: block;
  margin-top: 0.08rem;
  margin-bottom: 0.08rem;
  background-color:  #e3e3e3;
  overflow: auto;
  padding: 0.01rem 0.04rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.14rem;
}

.post-content .blockcode {
  overflow: auto;
  background-color:  #e3e3e3;
  padding: 0.01rem 0.04rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.14rem;
}

.post-content img {
  max-width: 100%;
  margin-top: 0.05rem;
  margin-bottom: 0.05rem;
}
