.header {
  width: 100%;
  height: 0.54rem;
  display: flex;
  align-items: center;
  background-color: #3F51B5;
  color: white;
  box-shadow: 0 0 0.04rem rgba(0, 0, 0, 0.14), 0 0.04rem 0.08rem rgba(0, 0, 0, 0.28);
}

.blog-title {
  margin-left: 2vw;
  font-family: 'Short Stack', cursive, sans-serif;
  font-size: 0.32rem;
}
